header{
	color:white;
	background-color: #00AEEF;
}

section{
	float:left;
	width:60%;
}
aside{
	float: right;
	width: 30%;
}

#movie-input{
	width:90%;
	border-radius: 10px;
	margin:auto;
	box-shadow: none;
}
.movie-poster{
	height:50px;
}
.movie-title{
	display: inline;
}

li{
	list-style: none;
	border:1px solid black;
}